$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);

.is-style {

	&-rounded-corners {
		border-radius: 8px;

		img,
		video {
			border-radius: 8px;
		}
	}
}

.wp-block-video {
	margin-bottom: 8px;
	margin-top: 8px;
}

.has-text-align-center {
	text-align: center !important;
}

.has-text-align-right {
	text-align: right !important;
}

.single-post--body {

	& > * {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 16px;
		padding-left: 16px;
		padding-right: 16px;
	}

	ul {
		list-style: initial;
	}

	ul,
	ol {
		padding-left: 40px;
	}

	pre,
	.wp-block-pullquote {
		max-width: 768px;
	}

	@media ( max-width: 830px ) {

		pre,
		.wp-block-pullquote {
			max-width: calc(100% - 32px);
		}
	}
}

.align {

	&full {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	&wide {
		max-width: 100%;

		@media ( min-width: 1024px ) {
			max-width: calc(100% - 15%);
		}
	}
}

.wp-block-embed__wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

iframe,
object,
embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.single-image {
	position: relative;

	&::before {
		content: "";
		background-color: rgba(191, 215, 48, 1);
		opacity: 0;
		position: absolute;
		top: 12px;
		bottom: 12px;
		left: 12px;
		right: 12px;
		border-radius: 8px;
		transition: 0.2s ease-in-out opacity;
	}

	&:hover::before {
		opacity: 0.6;
	}
}

#toggle_all_gallery_images:checked ~ {

	.columns {

		.column.is-hidden,
		.single-image {
			display: block !important;
		}

		.show_more {
			display: none;
		}
	}
}

.wp-block-dp-cta-container {
	padding-left: 0;
}

figure.wp-block-embed-youtube {
	width: 100%;
	padding: 0;
	border-radius: 8px;
	display: block;
	overflow: hidden;
	object-fit: cover;
}

.core-gallery {
	margin: 40px 0 40px 0;

	figure img {
		width: 100%;
		border-radius: 8px;
	}

	label img {
		border-radius: 8px;
	}

	figure.column.is-12 img {
		border: 2px solid #bfd730;
	}

	.toggle-images {
		height: 100%;
		text-align: center;
		align-items: center;
		justify-content: center;
		border: 2px solid rgba(191, 215, 48, 1);
		box-shadow: 0 2px 10px 0 rgba(rgba(191, 215, 48, 1), 0.1);
		transition: 0.2s box-shadow ease-in-out;
		padding: 16px;
		border-radius: 8px;
		cursor: pointer;

		&:hover {
			box-shadow: 0 2px 10px 0 rgba(rgba(191, 215, 48, 1), 1);
		}
	}

	input[type="radio"]:checked + figure {
		display: block !important;
	}

	@media ( max-width: $tablet ) {

		.is-multiline {

			.column {
				-webkit-box-flex: 0;
				flex: none;
				width: 25%;
			}
		}
	}

	@media ( max-width: 420px ) {

		.is-multiline {
			display: block !important;

			.column {
				width: 100%;

				img {
					width: 100%;
					height: auto;
				}
			}

			.single-image {
				display: none;
				width: 25%;
				float: left;
			}
		}
	}
}

.wp-block-media-text {

	@media ( max-width: $tablet ) {
		display: flex;
		flex-direction: column;

		.wp-block-media-text__content {
			margin-top: 16px;
			padding: 0;
		}

		&.has-media-on-the-right {
			flex-direction: column-reverse;
		}

		&.alignfull {

			.wp-block-media-text__content {
				padding: 0 16px;
			}
		}
	}
}

.has-dp- {

	&green-background-color {
		background-color: rgba(68, 201, 191, 1);
	}

	&orange-background-color {
		background-color: rgba(243, 154, 81, 1);
	}

	&dark-background-color {
		background-color: rgba(38, 42, 43, 1);
	}

	&pink-background-color {
		background-color: rgba(238, 98, 173, 1);
	}

	&piggy-pink-background-color {
		background-color: rgba(252, 224, 239, 1);
	}

	&persian-pink-background-color {
		background-color: rgba(240, 119, 184, 1);
	}

	&raspberry-pink-background-color {
		background-color: rgba(191, 215, 48, 1);
	}

	&green-color {
		color: rgba(68, 201, 191, 1);
	}

	&orange-color {
		color: rgba(243, 154, 81, 1);
	}

	&dark-color {
		color: rgba(38, 42, 43, 1);
	}

	&pink-color {
		color: rgba(238, 98, 173, 1);
	}

	&piggy-pink-color {
		color: rgba(252, 224, 239, 1);
	}

	&persian-pink-color {
		color: rgba(191, 215, 48, 1);
	}

	&raspberry-pink-color {
		color: rgba(191, 215, 48, 1);
	}

}

.dp-accordion {
	width: 100%;

	label {
		padding: 12px 24px;
		background-color: rgba(242, 242, 242, 1);
		position: relative;

		&::after {
			content: "";
			background-image: url(../img/i/chevron-up.svg);
			background-position: center;
			background-size: 16px;
			background-repeat: no-repeat;
			transform: rotate(-180deg);
			transition: 0.2s ease-in-out transform;
			will-change: transform;
			position: absolute;
			right: 24px;
			top: 18px;
			width: 16px;
			height: 16px;
		}
	}

	div {
		border: 1px solid rgba(242, 242, 242, 1);
		border-top: 0;
	}

	input[type="checkbox"]:checked ~ {

		label::after {
			transform: rotate(0);
		}

		div {
			display: block !important;
			padding: 16px 24px;
		}
	}
}

.social-share {
	justify-content: center;

	ul {
		padding-left: 16px;
		list-style: none;
		align-items: center;
	}

	li {
		margin: 0 8px;

		img {
			width: 24px;
		}
	}

	@media ( max-width: $tablet ) {
		flex-direction: column;

		ul {
			justify-content: center;
			padding: 8px 0 0 0;
		}
	}
}
