.breadcrumbs {
	background: palette(blue, base);
	width: 100%;
	height: 48px;
	border-radius: 8px 8px 0 0;
	padding: 12px 1.5rem;
	display: block;

	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 48px;
		margin-left: -100%;
		margin-top: -12px;
		background-color: palette(blue, base);
	}

	a, 
	& > span,
	& > span > span {
		color: palette(white, base);
		display: block;
		margin-right: 20px;
		float: left;
	}

	.nav-ico {
		position: relative;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 5px;
		float: left;

		&::after {
			content:"";
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 15px;
			height: 14px;
			display: block;
			left: initial;
			mask-position: center;
			mask-repeat: no-repeat;
			background-color: palette(white, base);
			mask-image: url(../../dist/img/i/chevron-right-solid.svg);
		}
	}

	.breadcrumb_last {
		font-style: italic;
		max-width: 160px;
		height: 24px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		float: left;

		@media ( max-width: $tablet ) {
			max-width: 70px;
		}
	}
}

.pull-left {

	@media ( min-width: $desktop ) {
		margin: -10vh auto 0 auto;
		max-width: 1120px;
	}

	.breadcrumbs {
		border-top-left-radius: 0;
		padding-left: 1.5rem;

		@media ( max-width: $desktop ) {
			border-radius: 0;
		}

		@media ( max-width: $big-screen ) {
			padding-left: 1.5rem;
		}
	}
}
