body.archive {

	section.section-archive {

		header.archive {

			&--head {
				position: relative;
				width: 100%;
				margin-top: 100px;
				margin-bottom: 0;

				@media (max-width: $tablet) {
					margin-top: 10px;
				}
			}
		}

		.container {

			.term-description-container {
				margin: 0 auto 40px !important;
			}

			.column {
				margin: 0 auto;
			}
		}
	}

	&.post-type-archive-shop {

		header.archive {

			&--head {

				h1 {
					text-transform: uppercase;
					padding-left: 4rem;
				
					&::before {
						content: "";
						position: absolute;
						margin: 10px -3.8rem;
						width: 3rem;
						height: 30px;
						mask-position: center;
						mask-repeat: no-repeat;
						background-color: palette(green, base);
						mask-image: url(../../dist/img/i/shopping-cart-solid.svg);
						mask-size: 100% 100%;
					}
				}

				.shop-desc {
					padding-left: 0.75rem;
					font-weight: $regular;
				}
			}
		}

		article.card {

			.card-price {
				position: absolute;
				padding-left: 16px;
				padding-right: 16px;
				margin-top: -40px;
				background: rgba(palette(green, base), 0.8);
				color: palette(blue, base);
				border-radius: 0 4px 4px 0;
			}

			.content {

				.shop-btn {
					width: calc(100% - 32px);
					position: absolute;
					bottom: 16px;
					z-index: 3;

					.read-more-shop {
						float: right;
					}
				}
			}
		}
	}
}
