body.home {
	background-color: #120846;

	main[role=main] {
		position: relative;
		background-color: palette(blue, base);
	}

	.logo {
		width: 250px;
		margin: 0 auto;
		display: block;
		position: relative;

		img {
			width: 100%;
		}
	}

	.bg-home {
		width: 100%;
		height: 100vh;
		background-color: palette(white, base);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		text-align: center;

		&::after {
			content:'';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			
			@include bg-h-to-top($startColor: palette(blue, base), $endColor: transparent);
		}

		h1,
		.logo-c {
			position: relative;
			margin: 0 auto;
			z-index: 3;
		}

		h1 {
			font-weight: $light;
			color: palette(white, base);
		}

		.logo-c {
			margin-top: 25vh;
		}
	}

	section {
		background-color: palette(blue, base);
		position: relative;

		&#sc1 {
			padding-top: 300px;
			padding-bottom: 0;

			&::before {
				content: "";
				mask-image: url(../../dist/img/i/question-solid.svg);
				mask-size: 100%;
				mask-repeat: no-repeat;
				z-index: 0;
				left: 4rem;
				top: 100px;
				width: 400px;
				height: 534px;
				margin-top: -10vh;
				position: absolute;
				display: block;
				background-color: rgba(palette(grey, base), 0.2);
				opacity: 0.4;
			}

			.button--green {
				margin-left: 0;
			}
		}

		&#sc2, 
		&#sc4 {
			min-height: 500px;
			z-index: 2;

			@include hero-bg(palette(grey, base));

			h2 {
				background-color: palette(blue, base);
				display: inline-block;
				border-radius: 8px;
				padding: 15px;
				margin-left: -15px;
			}
		}

		.bl-content {
			width: 100%;
			display: inline-block;
		}

		h2 {
			font-size: 3rem;
			font-weight: $black;
			color: palette(white, base);
			text-transform: uppercase;
		}

		.container.columns {
			margin: 0 auto;
		}

		p {
			color: palette(white, base);
		}

		&#home-slider {
			height: 100vh;
			z-index: 2;
		}

		.home-img {
			padding: 40px;
			margin-top: 350px;
			z-index: 7;

			img {
				border: palette(green, base) solid 5px;
				border-radius: 8px;
			}
		}
	}

	.d-container {
		height: 300px;
		margin-top: -5vh;
		background-color: transparent;
		position: relative;

		& + section + .d-container {
			margin-top: -500px;
		}

		.diagonal {
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			height: 100%;
			background-color: palette(white, base);
			background-position: 50%;
			border: 10px solid palette(grey, base);
			border-left: 0;
			border-right: 0;
			overflow: hidden;
			z-index: 2;

			span {
				background-size: 100%;
				background-attachment: fixed;
				background-position: top;
				background-repeat: no-repeat;
				width: 100%;
				height: 100vh;
				display: block;
				margin-top: -35vh;

				@media (max-width: $desktop) {
					background-size: auto 100%;
				}
			}

			&--left {
				transform: skewY(14deg);
				z-index: 4;

				span {
					transform: skewY(-14deg);
				}
			}

			&--right {
				border-color: palette(green, base);
				transform: skewY(-14deg);
				margin-top: 22vh;
				z-index: 1;

				span {
					transform: skewY(14deg);
				}
			}
		}
	}
}
