body.home {
	background-color: #120846;

	main[role=main] {
		position: relative;
		background-color: palette(blue, base);
	}

	img.fancybox-image {
		background: palette(white, base);
	}

	.navbar {
	
		.container .navbar-brand {
			display: none;
		}

		&.fixed .container .navbar-brand {
			display: block;
		}

	}

	.logo {
		width: 250px;
		margin: 0 auto;
		display: block;
		position: relative;

		img {
			width: 100%;
		}
	}

	.bg-home {
		width: 100%;
		height: 100vh;
		background-color: palette(white, base);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		text-align: center;

		&::after {
			content:'';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			
			@include bg-h-to-top($startColor: palette(blue, base), $endColor: transparent);
		}

		h1,
		.logo-c {
			position: relative;
			margin: 0 auto;
			z-index: 3;
		}

		h1 {
			font-weight: $light;
			color: palette(white, base);
			text-align: center;
			margin-top: -32px;

			i {
				font-size: 0;
				opacity: 0;
			}
		}

		.logo-c {
			margin-top: 25vh;
		}
	}

	section {
		background-color: palette(blue, base);
		position: relative;

		@media (max-width: $tablet) {
			padding-left: 5px !important;
			padding-right: 5px !important;

			h2 {
				padding-left: 0.75rem;
			}
		}

		&.sc1 {
			padding-top: 300px;
			padding-bottom: 0;

			@media (max-width: $tablet) {
				padding-top: 200px;
			}

			.wp-block-group {

				@media (max-width: $tablet) {
					width: 90%;
					margin: 0 auto;
				}
			}

			&::before {
				content: "";
				mask-image: url(../../dist/img/i/question-solid.svg);
				mask-size: 100%;
				mask-repeat: no-repeat;
				z-index: 0;
				left: 4rem;
				top: 100px;
				width: 400px;
				height: 534px;
				margin-top: -10vh;
				position: absolute;
				display: block;
				background-color: rgba(palette(grey, base), 0.2);
				opacity: 0.4;
			}

			blockquote.wp-block-quote {
				margin: 10vh auto;
				padding: 1.5rem;
				position: relative;
				background: rgba(palette(white, base),0.7);
				border-radius: 8px;
				box-shadow: 5px 3px 30px palette(black, base);
				text-align: center;

				&::before,
				&::after {
					content: "";
					background: linear-gradient(88deg, palette(white, base), palette(green, base));
					mask-image: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" data-prefix="fas" data-icon="quote-left" class="svg-inline--fa fa-quote-left fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"/></svg>');
					background-size: cover;
					mask-repeat: no-repeat;
					position: absolute;
					display: block;
					width: 50px;
					height: 50px;
					left: -15px;
					top: 50%;
					margin-top: -40px;

					@media (max-width: $tablet) {
						left: -2px;
					}
				}

				&::after {
					left: auto;
					right: -35px;
					background: linear-gradient(88deg, palette(green, base), palette(white, base));
					mask-image: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" data-prefix="fas" data-icon="quote-right" class="svg-inline--fa fa-quote-right fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"/></svg>');

					@media (max-width: $tablet) {
						right: -22px;
					}
				}

				p {
					color: palette(blue, base);
					font-weight: $regular;
				}

				cite {
					position: relative;
					width: 100%;
					
					strong {
						color: palette(blue, base);
					}

					&::before,
					&::after {
						content: "";
						height: 2px;
						border-radius: 2px;
						width: 100%;
						position: absolute;
						top: 50%;
						background: linear-gradient(88deg, palette(green, base), palette(white, base));
						transform: translateY(-50%);
					}

					&::before {
						left: -120%;
					}

					&::after {
						background: linear-gradient(88deg, palette(white, base), palette(green, base));
						right: -120%;
					}
				}
			}

			.home-img {
				padding: 40px;
				margin-top: 350px;
				z-index: 7;
	
				img {
					border: palette(green, base) solid 5px;
					transition: all 0.5s ease-out;
					border-radius: 8px;
					position: relative;
					max-width: 570px;
					float: right;

					@media (max-width: $tablet) {
						max-width: 100%;
						margin: 0 auto;
						float: none;
					}
				}

				&:hover {

					img {
						transform: scale(1.1);
					}
				}
			}
		}

		&.sc2, 
		&.sc4 {
			min-height: 520px;
			z-index: 2;

			@include hero-bg(palette(grey, base));

			h2 {
				display: inline-block;

				@include stroke(2, palette(blue, base));
			}
		}

		&.sc2.sc-products {
			background-repeat: repeat;
			background-size: contain;
			background-position: center;
			width: 100%;
			height: 100%;
			padding: 40px;

			@media (max-width: $tablet) {
				margin-top: -750px;
				min-height: 750px;

				h2 {
					padding-left: 0;
				}
			}

			.bl-content {
				background-color: palette(blue, base);
				box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
				display: inline-block;
				border-radius: 8px;

				.tab-container {
					list-style-type: none;
					padding: 0;
					margin: 0 auto;
					width: 100%;
					background: palette(white, base);
					position: relative;

					.button--green {
						width: 120px;
						font-size: 0.8em;
						padding: 5px 0;
						background: transparent;
						color: palette(blue, base);
						position: absolute;
						margin-bottom: 1.5rem;
						bottom: 0;
						cursor: pointer;

						@media (max-width: $tablet) {
							position: relative;
							margin-left: 0;
						}

						&:hover {
							background-color: palette(green, base);
						}
					}

					.arrows {
						display: block;
						width: 60px;
						font-size: 32px;
						bottom: 1.5rem;
						right: 0;
						position: absolute;

						@media (max-width: $tablet) {
							bottom: 3rem;
						}

						label {
							display: inline-block;
							cursor: pointer;
							color: palette(blue, base);
							user-select: none;
							margin-left: 5px;

							&:hover {
								color: palette(blue, base);
							}

							&.tab-0,
							&.last {
								color: palette(grey, base);
								pointer-events: none;
							}
						}
					}

					.tab-content-container {
						width: 100%;
						height: 0;
						opacity: 0;
						top: 42px;
						position: absolute;
						overflow: hidden;
						color: palette(blue, base);
						font-weight: $regular;
						line-height: 22px;
						padding: 0 40px 0 20px;
						background: palette(white, base);
						border-bottom-left-radius: 4px;
						border-bottom-right-radius: 4px;
						border: 2px solid rgba(palette(white, base), 1);
						box-shadow: 0 5px 5px -5px palette(black, base);

						p {
							color: palette(blue, base);
							font-weight: $regular;
						}

						.tab-content {
							opacity: 0;
							padding: 1.5rem;
							min-height: 182px;
							transition: opacity 0.1s ease-in;

							.column {

								&:first-child {

									.image-box {
										border: palette(green, base) solid 2px;
										border-radius: 8px;
										position: relative;
										overflow: hidden;
										width: 100%;
										height: 218px;

										@media (max-width: $tablet) {
											height: 180px;
										}

										img {
											transition: all 0.5s ease-out;
											width: 100%;
											height: 100%;
											cursor: pointer;
										}

										&:hover {
											
											img {
												position: absolute;
												transform: scale(1.1);
											}
										}
									}
								}
							}
						}
					}

					.tab {
						outline: 0;
						float: left;
						cursor: pointer;
						opacity: 1;
						width: 20%;
						line-height: 40px;
						display: block;
						margin: 0;
						position: relative;
						background: transparent;
						color: palette(white, base);
						text-transform: uppercase;
						font-weight: $bold;
						text-align: center;
						border-top: 2px solid transparent;
						border-right: 2px solid transparent;
						transition: all 0.2s ease-out;

						&:hover {
							opacity: 0.9;
						}
					}

					.tab-toggle {
						display: none;

						&.hover + .tab,
						&.active + .tab,
						&:checked + .tab {
							color: palette(blue, base);
							background-color: palette(white, base);
							border-color: palette(white, base);
							border-radius: 8px 8px 0 0;
							opacity: 1;

							//@include bg-h-to-top(palette(white, base), palette(grey, base));
						}

						&.hover ~ .tab-content-container,
						&.active ~ .tab-content-container,
						&:checked ~ .tab-content-container { 
							height: auto;
							opacity: 1;

							.tab-content {
								opacity: 1;

								label {
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}

		&.sc3.sc-shop {

			.bl-content {
				overflow: hidden;
			}


			.show-cart li {
				display: flex;
			}

			.card {
				margin-bottom: 20px;
				font-weight: normal;

				h3 {
					height: 64px;
				}

				.card-desc {
					height: 100px;
					display: none;
				}

				.card-price {
					width: 100%;
					text-align: left;
					border-top: palette(green, base) solid 1px;
					position: relative;
					bottom: 25px;
					padding-top: 10px;

					b {
						float: right;
					}
				}

				.button {
					position: relative;
					bottom: 10px;

					&.add-to-cart {
						float: left;
					}

					&.read-more-shop {
						float: right;
					}
				}
			}

			.card-img-top {
				width: 200px;
				height: 200px;
				align-self: center;
			}
		}

		&.sc4.sc-news {

			.bl-content .card {

				h4 {
					min-height: inherit;
					margin-top: 10px;
					margin-bottom: 5px;
				}
			}
		}

		.bl-content {
			width: 100%;
			margin: 0 auto;

			.card {
				border-radius: 8px;
				overflow: hidden;

				.thumbnail {
					position: relative;

					&::after {
						content:"";
						background-color: rgba(palette(blue, base), 0.1);
						border-radius: 8px;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						display: block;
					}
				}

				.main {
					padding: 10px;

					h3 {
						width: 100%;
						min-height: 64px;
						font-size: 18px;
						line-height: 22px;
					}

					.desc {
						display: none;
					}

					.read-more {
						color: palette(green, base);
					}
				}
			}
		}

		h2 {
			font-size: 3rem;
			font-weight: $black;
			color: palette(white, base);
			text-transform: uppercase;
		}

		.container.columns {
			margin: 0 auto;
		}

		p {
			color: palette(white, base);
			font-weight: $regular;
		}

		&#home-slider {
			height: 100vh;
			z-index: 2;
		}
	}

	.d-container {
		height: 300px;
		margin-top: -5vh;
		background-color: transparent;
		position: relative;

		@media (max-width: $tablet) {
			height: 150px;
		}

		& + section + .d-container {
			margin-top: -500px;

			@media (max-width: $tablet) {
				margin-top: -50px;
			}
		}

		.diagonal {
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			height: 100%;
			background-color: palette(white, base);
			background-position: 50%;
			border: 10px solid palette(grey, base);
			border-left: 0;
			border-right: 0;
			overflow: hidden;
			z-index: 2;

			span {
				background-size: 100%;
				background-attachment: fixed;
				background-position: top;
				background-repeat: no-repeat;
				width: 100%;
				height: 100vh;
				display: block;
				margin-top: -35vh;

				@media (max-width: $desktop) {
					background-size: auto 100%;
				}
			}

			&--left {
				transform: skewY(14deg);
				z-index: 4;

				span {
					transform: skewY(-14deg);
				}
			}

			&--right {
				border-color: palette(green, base);
				transform: skewY(-14deg);
				margin-top: 22vh;
				z-index: 1;

				span {
					transform: skewY(14deg);
				}
			}
		}
	}
}
