body.blog {

	#hero {
		background: palette(blue, base);
		min-height: 380px;
		height: 380px;
	}

	main h1 {
		color: palette(white, base);
		text-transform: uppercase;
		text-align: center;
		top: 82px;
		position: absolute;
		width: 300px;
		margin: 40px -150px !important;
		left: 50%;
	}

	// Swiper News Slider
	.swiper-container {
		width: 100%;
		height: auto;
		position: relative;
		overflow: hidden;
		margin-top: calc(82px - 280px);
		max-width: 1120px;
		margin-bottom: 40px;
		border-radius: 8px;
		padding: 0 1.5rem 0 1.5rem;

		@media (max-width: $tablet) {
			width: 100vw;
			max-width: 100vw;
			min-height: 400px;
			height: 400px;
			border-radius: 0;
		}

		.swiper-wrapper {
			height: 380px;
		}

		.swiper-slide {
			background-position: center;
			background-size: cover;
			background-color: palette(white, base);
			overflow: hidden;

			img {
				height: 100%;
				opacity: 0;
			}

			.content {
				background-color: transparent;
				position: absolute;
				top: 40%;
				left: 0;
				width: 90%;
				padding-left: 5%;
				z-index: 2;
				text-align: center;
				opacity: 0;

				.title {
					font-weight: $black;
					margin-bottom: 30px;
					color: palette(white, base);
				}

				.caption,
				.date {
					display: block;
					color: palette(white, base);
				}

				@media (max-width: $tablet) {

					.caption {
						display: none;
					}
				}

				.date {
					font-size: 12px;
					font-weight: $bold;
					text-transform: uppercase;
				}
			}

			.swiper-slide-shadow {

				&-bottom,
				&-left,
				&-right,
				&-top {
					background-image: palette(blue, base);
				}
			}

			&.swiper-slide-active {
				opacity: 1;
				margin: 0 auto;
				width: 80% !important;

				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;

					@include bg-h-to-top($startColor: #000, $endColor: transparent);
				}

				@media (max-width: $tablet) {
					width: 100% !important;
					margin-left: 0;
				}

				.content {
					opacity: 1;
				}

				.swiper-slide-shadow-right {
					opacity: 0.5 !important;
					z-index: 1;
				}
			}

			.entity-img {
				display: none;
			}
		}

		[class^="swiper-button-"] {
			width: 44px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease;
		}

		.swiper-button {

			&-prev {
				transform: translateX(50px);
			}

			&-next {
				transform: translateX(-50px);
			}
		}

		&:hover {

			.swiper-button {

				&-prev,
				&-next {
					transform: translateX(0);
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&.swiper-container-horizontal {

			& > .swiper-pagination-bullets {
				bottom: 16px;

				.swiper-pagination-bullet {
					margin: 0 9px;
					position: relative;
					width: 12px;
					height: 12px;
					background-color: palette(white, base);
					transition: all 0.3s ease;
					opacity: 0;
					visibility: hidden;

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						width: 18px;
						height: 18px;
						transform: translate(-50%, -50%);
						border: 0 solid palette(white, base);
						border-radius: 50%;
						transition: all 0.3s ease;
					}

					&.swiper-pagination-bullet-active {

						&::before {
							border-width: 1px;
						}
					}
				}
			}

			&:hover {

				.swiper-pagination-bullet {
					opacity: 0.4;
					visibility: visible;

					&.swiper-pagination-bullet-active {
						opacity: 1;
					}
				}
			}
		}
	}

	section.top-news {
		position: relative;
		max-width: 1120px;
		margin: 0 auto 40px auto;
	}
}

#pop-filta-video {
	position: absolute;
	width: 300px;
	max-width: 90vw;
	left: 7px;
	top: -50vh;
	z-index: 5;
	animation: slide-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

	img {
		border-radius: 8px;
	}

	.fancybox-close-small {
		right: 5px;
		top: -10px;
		background: palette(green,base);
		border-radius: 100%;
		padding: 2px;
		width: 25px;
		height: 25px;
		z-index: 7;
		animation: spinAround 5s;
	}
}

@keyframes slide-top {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	100% {
		transform: translateY(70vh);
		opacity: 1;
	}
}
  