body.page {
	
	&.page-template-default {

		main[aria-label="Content"] {

			h1 {
				text-transform: uppercase;
			}

			section {
				width: 100%;
				height: auto;
				position: relative;
				overflow: hidden;
				max-width: 1344px;
				margin: 0 auto 0 auto;
				padding: 100px 1.5rem 0 1.5rem;

				article {
					min-height: 40vh;

					a {
						color: palette(black, base);

						&.wp-block-file__button {
							color: palette(white, base);
						}
					}
				}
			}
		}

		.single-content {

			li {

				a {
					color: palette(blue, base);
					text-decoration: underline;
				}
			}
		}
	}

	&.page-videos {

		.pull-left {

			nav+main {
				border-right: 2px solid whitesmoke;
			}

			aside {
				border-left: 0;
			}
		}

		article {

			li {
				line-height: 2em;

				&>a+a {
					position: relative;
					font-size: 0;

					&::after {
						content: "";
						position: absolute;
						margin: 8px 0;
						width: 22px;
						height: 16px;
						mask-position: center;
						mask-repeat: no-repeat;
						mask-size: 100%;
						background-color: red;
						mask-image: url('../../dist/img/i/soc/youtube-square-brands.svg');
					}
				}
			}
		}
	}
}
