body.single {

	a.content-img {
		float: left;
		width: 24%;
		margin-top: 2%;
		margin-right: 1%;

		img {
			border: palette(green, base) solid 3px;
			border-radius: 8px;
		}
	}

	figure[name="core-gallery-images"] {

		a.content-img {
			width: 100%;
		}
	}

	.single-content {

		p {
			width: 100%;
			display: inline-block;

			a {
				color: palette(green,base);
			}
		}

		.card-price,
		.add-to-cart {
			width: 100%;
			margin-top: 20px;
			max-width: 170px;
			display: none !important;
		}

		.shop-desc-star {
			display: inline-block;
			width: 100%;
			margin-top: 40px;
			font-size: 1em;
			font-weight: $bold;
		}
	}
}
