.button {

	&#m-nav {
		display: none;
	}

	&--green {
		text-align: center;
		position: relative;
		width: 190px;
		display: block;
		padding: 10px 40px;
		text-transform: uppercase;
		margin: 40px auto;
		border: palette(green, base) solid 2px;
		border-radius: 8px;
		background-color: palette(blue, base);
		color: palette(white, base);
		font-weight: $black;
		transition: all 0.3s ease-out;

		&:hover {
			background-color: palette(green, base);
			color: palette(blue, base);
		}
	}
}

.fancybox-button {
	background: rgba(palette(green, base), 0.9);

	svg {
		color: palette(blue, base);
	}

	&[disabled] svg {
		opacity: 0.1;
	}
}

.scroll-downs {
	position: absolute;
	bottom: 10vh;
	width: 34px;
	height: 55px;
	z-index: 3;

	.mousey {
		width: 3px;
		padding: 10px 15px;
		height: 35px;
		border: 2px solid $action-color;
		border-radius: 25px;
		opacity: 0.75;
		box-sizing: content-box;

		.scroller {
			width: 3px;
			height: 10px;
			border-radius: 25%;
			background-color: $action-color;
			animation-name: scroll;
			animation-duration: 2.2s;
			animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
			animation-iteration-count: infinite;
		}
	}
}

@keyframes scroll {
	0% { opacity: 0; }
	10% { transform: translateY(0); opacity: 1; }
	100% { transform: translateY(15px); opacity: 0;}
}
