input:focus,
select:focus,
select:active, 
select:hover,
textarea:focus,
button:focus,
*:focus {
	outline: none !important;
}

fieldset {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	background-color: transparent;
	border-color: palette(white, base);
	border-width: 0 0 1px 0;
	color: palette(white, base);
	font-size: 15px;
	display: block;
	transition: all 0.3s ease-out;

	&:focus, 
	&:active,
	&:hover {
		border-color: palette(green, base);
	}
}

textarea {
	resize: vertical;
	height: 70px;
}

.contact-form-wrap {
	width: 100%;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

/* Form 7 style */
form.wpcf7-form {
	position: relative;
	width: 100%;
	max-width: 300px;
	padding-top: 10px;
	float: right;

	span[role=alert],
	.wpcf7-validation-errors, 
	.wpcf7-acceptance-missing,
	.wpcf7-form-control-wrap.accept-this + i {
		border-width: 0 0 0 2px;
		font-size: 11px;
		color: palette(green, base);
	}

	.wpcf7-acceptance {

		span {
			margin-left: 0;
		}
	}

	span {

		&.your-name,
		&.your-email,
		&.your-tel,
		&.your-message {

			&::before {
				content: "";
				left: 0;
				position: absolute;
				mask-position: center;
				mask-repeat: no-repeat;
				background-color: palette(white, base);
				mask-size: 100%;
				width: 14px;
				height: 20px;
			}

			&:hover::before {
				background-color: palette(green, base);
			}

			&.your-name {
				
				&::before {
					mask-image: url(../../dist/img/i/user-solid.svg);
				}

				i::after {
					content: "Name";
				}
			}

			&.your-email {

				&::before {
					mask-image: url(../../dist/img/i/envelope-solid.svg);
				}

				i::after {
					content: "Email";
				}
			}

			&.your-tel {

				&::before {
					mask-image: url(../../dist/img/i/phone-solid.svg);
				}

				i::after {
					content: "Phone";
				}
			}

			&.your-message {

				&::before {
					mask-image: url(../../dist/img/i/edit-solid.svg);
					width: 18px;
				}

				i::after {
					content: "Message";
				}
			}
		}

		i {
			position: absolute;
			left: 36px;
			top: -16px;

			&::after {
				content: "";
				font-style: normal;
				font-size: 10px;
				color: rgba(palette(white, base), 0.4);
				opacity: 0;
			}
		}
	}

	input {
		
		&[name="your-name"],
		&[name="your-email"],
		&[name="your-tel"] {
			position: relative;
			padding-left: 35px;
		}

		&:focus ~ i::after {
			opacity: 1;
		}

		&::placeholder {
			font-size: 14px;
		}
	}

	textarea {

		&[name="your-message"] {
			position: relative;
			padding-left: 35px;
		}

		&::placeholder {
			font-size: 14px;
		}

		&:focus ~ i::after {
			opacity: 1;
		}
	}

	.wpcf7-submit {
		text-transform: uppercase;
		text-align: center;
		position: relative;
		float: right;
		font-weight: $regular;
		color: palette(white, base);
		width: fit-content;
		max-width: 220px;
		display: block;
		padding: 3px 20px;
		margin: 0;
		border: palette(green, base) solid 2px;
		border-radius: 8px;
		background-color: palette(blue, base);
		transition: all 0.3s ease-out;
		cursor: pointer;

		&:hover {
			background-color: palette(green, base);
			color: palette(blue, base);
		}
	}
}
