html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: palette(grey, base); 
}

::-webkit-scrollbar-thumb {
    background: palette(grey, dark);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: palette(grey, base); 
}

input:focus,
select:focus,
select:active, 
select:hover,
textarea:focus,
button:focus,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

img {
    @include object-fit(contain);
}

input:focus {
    outline: 0;
}

.background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

	&--blue {
		background-color: palette(blue, base);

		* {
			color: palette(white, base);
		}
	}

	&--grey{
		background-color: palette(grey, base);
	}
}

.waveHorizontals{
	width: 100vw;  
	transform: rotate(180deg);
	height:74px;
    margin-top: 52px;
	position: absolute;
	overflow: hidden;
	z-index: 3;
}

.waveHorizontal{
	width: 200%;
	height: 100%;
	display: block;
	position:absolute;
	animation: move 12s linear infinite;
}

#waveHorizontal1 {
	animation-delay: -2s;
}

#waveHorizontal2{
	animation-delay: -2s;
	animation-duration: 5s;	
}

#waveHorizontal3{
	animation-delay: -8s;
	animation-duration: 7s;
}

@keyframes move {

	0% {
        transform: translate(-50%,0%);
    }

	100% {
        transform: translate(0%,0%);
    }
}

.navbar {
	width: 100vw;
	background-color: rgba(52,97,193,0.5);
	position: absolute;

	.container {
		background-color: rgba(palette(blue, base), 0.9);
		max-width: none;

		.navbar-menu {
			position: relative;
			z-index: 3;

			@media (min-width: $desktop) {
				display: inline-block;
			}

			.navbar-end {
				justify-content: center;

				.navbar-item {
					text-transform: uppercase;
					color: palette(white, base);
					margin: 10px 0.5rem 0 0.5rem;
					font-weight: $regular;
					letter-spacing: 0.1rem;
					transition: all 0.3s ease-out;

					&:hover {
						background-color: transparent;
					}

					&:first-child {
						color: palette(green,base);
						font-weight: bold;

						&::before {
							content: "";
							position: absolute;
							display: block;
							width: 5px;
							height: 5px;
							background-color: palette(green, base);
							border-radius: 100%;
							left: 0;
						}
					}

					&:focus,
					&:hover {
						background-color: transparent;
						opacity: 0.7;
					}
				}
			}
		}
	}
}

.content {
	height: 70px;
	background-color:#4c72c2;
}

.footer {
	background-color: palette(blue, base);

	.container {
		z-index: 2;

		&.columns {
			margin: 0 auto;

			.column {

				h2 {
					font-size: 3rem;
					font-weight: $black;
					color: white;
					text-transform: uppercase;
				}

				.foo-menu {

					a {
						float: left;
						padding-left: 0;
						color: palette(white, base);

						&::before {
							content:"|";
							font-weight: $black;
							position: absolute;
							margin-left: -8px;
						}

						&:first-child {

							&::before {
								display: none;
							}
						}
					}
				}
			}
		}

		&.foo-bottom {
			border-top: palette(grey, base) solid 3px;
			margin-top: 10px;

			.foo-menu {

				a {
					width: fit-content;
					margin: 0 auto;
				}
			}

			.foo-social {

				.foo-soc {
					position: relative;
					float: right;
					display: block;
					width: 24px;
					margin-right: 8px;
					height: 24px;
					background-color: palette(white, base);
					border-radius: 100%;
		
					@media ( max-width: $tablet ) {
						max-width: none;
						float: none;
						display: inline-flex;
					}
		
					&:hover {
						opacity: 0.8;
					}
		
					&::after {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						margin: 2px;
						width: 20px;
						height: 20px;
						mask-position: center;
						mask-repeat: no-repeat;
						mask-size: 70%;
						background-color: palette(grey, dark);
					}
		
					&.soc-fb::after {
						mask-image: url(../../dist/img/i/soc/facebook-f.svg);
						mask-size: 50%;
					}
		
					&.soc-ln::after {
						mask-image: url(../../dist/img/i/soc/linkedin.svg);
					}
		
					&.soc-in::after {
						mask-image: url(../../dist/img/i/soc/instagram.svg);
					}
		
					&.soc-yt::after {
						mask-image: url(../../dist/img/i/soc/youtube.svg);
					}
		
					&.soc-rss::after {
						mask-image: url(../../dist/img/i/soc/rss-solid.svg);
						mask-size: 70%;
					}
				}
			}
		}
	}

	span, p, a {
		color: palette(white, base);
		font-weight: $regular;
		letter-spacing: 0.07rem;
	}
}
