html {
	box-sizing: border-box;

	&.no-js {
		margin-top: 0 !important;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;

	&.modal-win {
		overflow: hidden;
	}
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: palette(grey, base); 
}

.is-active {
	display: block !important;
}

::-webkit-scrollbar-thumb {
    background: palette(grey, dark);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: palette(grey, base); 
}

input:focus,
select:focus,
select:active, 
select:hover,
textarea:focus,
button:focus,
* {
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

img {
    @include object-fit(contain);
}

input:focus {
    outline: 0;
}

#wpadminbar {
	display: none !important;
}

.fancybox-thumbs__list a:before {
	border-color: palette(green, base);
}

.fancybox-progress {
	background: palette(green, base);
}

.background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

	&--blue {
		background-color: palette(blue, base);

		* {
			color: palette(white, base);
		}
	}

	&--grey{
		background-color: palette(grey, base);
	}
}

.waveHorizontals{
	width: 100vw;  
	transform: rotate(180deg);
	height:74px;
    margin-top: 52px;
	position: absolute;
	overflow: hidden;
	z-index: 3;
}

.waveHorizontal{
	width: 200%;
	height: 100%;
	display: block;
	position:absolute;
	animation: move 12s linear infinite;
}

#waveHorizontal1 {
	animation-delay: -2s;
}

#waveHorizontal2{
	animation-delay: -2s;
	animation-duration: 5s;	
}

#waveHorizontal3{
	animation-delay: -8s;
	animation-duration: 7s;
}

@keyframes move {

	0% {
        transform: translate(-50%,0%);
    }

	100% {
        transform: translate(0%,0%);
    }
}

.navbar {
	width: 100vw;
	background-color: rgba(52,97,193,0.5);
	position: absolute;
	top: 0;

	&.sticked {
		position: sticky;
	}

	.container {
		background-color: rgba(palette(blue, base), 0.9);
		max-width: none;

		.navbar-menu {
			position: relative;
			z-index: 3;

			@media (min-width: $desktop) {
				display: inline-block;
			}

			.navbar-end {
				justify-content: center;

				.navbar-item {
					text-transform: uppercase;
					color: palette(white, base);
					margin: 10px 0.5rem 0 0.5rem;
					font-weight: $regular;
					letter-spacing: 0.1rem;
					transition: all 0.3s ease-out;

					&:hover {
						background-color: transparent;
					}

					&:first-child {
						color: palette(green,base);
						font-weight: bold;

						&::before {
							content: "";
							position: absolute;
							display: block;
							width: 5px;
							height: 5px;
							background-color: palette(green, base);
							border-radius: 100%;
							left: 0;
						}
					}

					&:focus,
					&:hover {
						background-color: transparent;
						opacity: 0.7;
					}
				}
			}
		}
	}
}

.content {
	height: 70px;
	background-color:#4c72c2;
}

.fancybox-bg {
	background-color: palette(blue, base);
}

.cart-top {
	position: fixed;
	right: 40px;
	top: 0;

	.button {
		background-color: transparent;
		border: 0;
		position: relative;
		width: 70px;

		span {
			position: relative;
			color: palette(white, base);
			font-weight: 100;
			z-index: 2;
		}

		&::after {
			content: "";
			left: 0;
			top: 0;
			margin: 2px;
			width: 70px;
			height: 30px;
			mask-position: center;
			mask-repeat: no-repeat;
			background-color: palette(green, base);
			mask-image: url(../../dist/img/i/shopping-cart-solid.svg);
			mask-size: 70%;
		}
	}

	.clear-cart {
		position: relative;
		float: right;
		display: block;
		background-color: palette(white, base);
		border: palette(white, base) solid 1px;
		color: palette(blue, base);
		width: 14px;
		height: 16px;
		margin-top: 4px;
		padding: 0;
		border-radius: 100%;
		margin-left: -14px;
		z-index: 9;
		cursor: pointer;

		&::after {
			content: "X";
			text-align: center;
			font-size: 10px;
			line-height: 20px;
			font-weight: bold;
			position: absolute;
			left: 50%;
			margin-left: -3px;
			top: -2px;
		}
	}
}

.modal {
	background-color: rgba(palette(blue, base), 0.95);
	font-family: $heading-font-family;
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	z-index: 999;

	.modal-dialog {
		

		.modal-content {
			position: relative;
			text-align: center;
			width: 100%;
			min-height: 100vh;
			overflow-x: hidden;
			overflow-y: scroll;
			padding: 70px 25px;
			z-index: 41;

			.modal-close {
				background: transparent url(../../dist/img/i/close-x.png) center / cover no-repeat;
				width: 100%;
				max-width: 40px;
				height: 100%;
				max-height: 40px;
				right: 40px;
				z-index: 3;

				&::before,
				&::after {
					display: none;
				}
			}

			.modal-header,
			.modal-body,
			.modal-footer {
				position: relative;
				color: palette(white, base);
				padding-left: 20px;
			}

			.modal-header {

				h2 {
					text-transform: uppercase;
					padding-left: 35px;

					&::before {
						content: "";
						position: absolute;
						top: 0;
						margin: 8px -70px;
						width: 70px;
						height: 30px;
						mask-position: center;
						mask-repeat: no-repeat;
						background-color: palette(green, base);
						mask-image: url(../../dist/img/i/shopping-cart-solid.svg);
						mask-size: 100% 100%;
					}
				}
			}

			.modal-body {

				table.show-cart {
					margin: 0 auto;
					margin-top: 100px;
					margin-bottom: 15px;
					background: transparent;
					color: palette(white, base);

					button {
						cursor: pointer;
					}

					td {

						&:first-child {
							padding-left: 0;
						}

						input.item-count {
							width: auto;
							max-width: 70px;
							text-align: center;
						}
					}
				}
			}

			.modal-footer {

				.modal-order {
					margin-top: 70px;
					position: relative;
					font-weight: normal;
					cursor: pointer;
				}
			}
		}
	}
}

.footer {
	background-color: palette(blue, base);

	.container {
		z-index: 2;

		&.columns {
			margin: 0 auto;

			.column {

				h2 {
					font-size: 3rem;
					font-weight: $black;
					color: white;
					text-transform: uppercase;
				}

				.foo-phone,
				.foo-email,
				.foo-address {
					padding-left: 30px;
					position: relative;

					&::before {
						content:"";
						position: absolute;
						left: 0;
						mask-position: center;
						mask-repeat: no-repeat;
						background-color: palette(white, base);
						mask-size: 100% 100%;
						width: 20px;
						height: 20px;
						display: block;
					}

					i {
						font-style: normal;
					}
				}

				.foo-phone::before {
					mask-image: url(../../dist/img/i/phone-solid.svg);
				}

				.foo-email {

					&::before {
						mask-image: url(../../dist/img/i/envelope-solid.svg);
					}

					i {
						margin-left: -5px;
					}
				}

				.foo-address::before {
					mask-image: url(../../dist/img/i/map.svg);
				}

				.foo-menu {

					a {
						float: left;
						padding-left: 0;
						color: palette(white, base);

						&::before {
							content:"|";
							font-weight: $black;
							position: absolute;
							margin-left: -8px;
						}

						&:first-child {

							&::before {
								display: none;
							}
						}
					}
				}
			}
		}

		&.foo-bottom {
			border-top: palette(grey, base) solid 3px;
			margin-top: 10px;

			.foo-menu {

				a {
					width: fit-content;
					margin: 0 auto;
				}
			}

			.foo-social {

				.foo-soc {
					position: relative;
					float: right;
					display: block;
					width: 24px;
					margin-right: 8px;
					height: 24px;
					background-color: palette(white, base);
					border-radius: 100%;
		
					@media ( max-width: $tablet ) {
						max-width: none;
						float: none;
						display: inline-flex;
					}
		
					&:hover {
						opacity: 0.8;
					}
		
					&::after {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						margin: 2px;
						width: 20px;
						height: 20px;
						mask-position: center;
						mask-repeat: no-repeat;
						mask-size: 70%;
						background-color: palette(grey, dark);
					}
		
					&.soc-fb::after {
						mask-image: url(../../dist/img/i/soc/facebook-f.svg);
						mask-size: 50%;
					}
		
					&.soc-ln::after {
						mask-image: url(../../dist/img/i/soc/linkedin.svg);
					}
		
					&.soc-in::after {
						mask-image: url(../../dist/img/i/soc/instagram.svg);
					}
		
					&.soc-yt::after {
						mask-image: url(../../dist/img/i/soc/youtube.svg);
					}
		
					&.soc-rss::after {
						mask-image: url(../../dist/img/i/soc/rss-solid.svg);
						mask-size: 70%;
					}
				}
			}
		}
	}

	span, p, a {
		color: palette(white, base);
		font-weight: $regular;
		letter-spacing: 0.07rem;
	}
}
