.wp-block-gallery {

	.blocks-gallery-grid {

		.blocks-gallery-item {

			&:last-child {
				flex-grow: inherit;
			}

			@media (max-width: $mobile) {
				width: 100%;
				margin: 8px auto 8px auto;
			}

			&.active {
				animation-name: fadeInOpacity;
				animation-iteration-count: 1;
				animation-timing-function: ease-in;
				animation-duration: 1s;

				@media screen and (max-width: $tablet) {
					height: 350px;
				}
			}
		}
	}
}
